@{
    ViewData["Title"] = "Retrospective";
}

<h1>Retrospective</h1>

<p>

    December 20th 2019: I started this Web Scraper project before Christmas and New Years. I was eager but unaware of the challenges ahead.

    </p>

<h2> Beginning: Phase One</h2>
   
<p>
    Using Selenium to Automatically control a Chrome browser was exciting and the most enjoyable part of the process. I had never worked with HTML before, so I took a crash course on Free Code Camp which helped me dissect the web pages to remotely log on to a website and scrape data.

    There is something quite satisfying about seeing a task you do all the time on the web automated. Phase one took me about three days, and it gave me momentum to hit Phase Two.
    </p>

    <h2> Middle: Phase Two</h2>
    <p>
        Taking the scraped data and putting it into a SQL database was fairly straightforward. I used MySQL Workbench to store the scrapes and later changed to plain SQL in Phase Three. Phase Two only took about one week. Still full of optimism I forged forward to Phase Three.
        </p>


        <h2> The End: Phase Three</h2>
<p>
        Making a front end and a user interface for the Scraper was challenging for me, to say the least. I had never made a front and back end of a website from scratch, and I kept hitting brick walls. Finding a good resource/ tutorials to creating a MVC site in C# was overwhelming. There were so many tutorials within the past 10 years on the web, it was hard for me to wade through them all and filter the information I really needed.
    </p>
<p>
        I ended up using C# Entity Framework MVC Project.
    </p>
<p>
        Using a Mac also posed a problem when implementing User Authentication. After a week of trying to make the Mac work, I switched over to a PC and restarted the project.
    </p>
<p>
        Switching the Database from MySQL to SQL was also difficult. There were slight differences in the Syntax which poised problems when small errors ran under the radar and caused bugs.
    </p>

        <h2> The Future:</h2>
<p>
        I had hoped to add the ability for the user to search the database by DateTime, but after two days trying to solve the issue, I decided to push that to a future phase of the project.
    </p>
        <h2> Looking Back:</h2>
<p>
        This project really stretched me as a developer and tested my patience and determination. Not having a template to follow was frustrating at times, but ultimately lead me to seek help from and collaborate with my classmates.

    </p>


