@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Isaac's Stock Scraper</h1>
    <p>Please register or login to start to view your scraped data or begin a new scrape.</p>
</div>
